html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  text-decoration: none;
  border-width: 3px;
  border-radius: 8px;
  display: inline-block;
}

.btn-original {
  font-size: 1.125rem;
  padding: .4em;
}

.btn-primary {
  color: #fff;
  background-color: #333;
}

.btn-primary:hover {
  background-color: #000;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
}

.btn-ghost:hover {
  background-color: #ccc;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
  padding: .3em;
}

.primary {
  color: #fff;
  background-color: #333;
}

.primary:hover {
  background-color: #000;
}

.subtle {
  color: #fff;
  background-color: #ccc;
}

.subtle:hover {
  background-color: #666;
}

.ghost {
  color: #000;
  background-color: #fff;
}

.ghost:hover {
  background-color: #ccc;
}

.warning {
  color: #fff;
  background-color: #f33;
}

.warning:hover {
  background-color: #933;
}

.btn-big {
  font-size: 1.5rem;
  padding: .75em;
}

.primary-b {
  color: #fff;
  background-color: #333;
}

.primary-b:hover {
  background-color: #000;
}

.subtle-b {
  color: #fff;
  background-color: #ccc;
}

.subtle-b:hover {
  background-color: #666;
}

.ghost-b {
  color: #000;
  background-color: #fff;
}

.ghost-b:hover {
  background-color: #ccc;
}

.warning-b {
  color: #fff;
  background-color: #f33;
}

.warning-b:hover {
  background-color: #933;
}
